<div class="Homepage" >
  <h1> OPERATIONS </h1>
  <hr>
  <br>
    <Button class="adduserbutton" (click) = "showForm()">ADD USER DETAILS</Button><br><br>
    <table mat-table [dataSource]="dataSource"class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef> Country </th>
        <td mat-cell *matCellDef="let element"> {{element.country}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef> Sex </th>
        <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
      </ng-container>
      &nbsp;&nbsp;

          <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <button mat-icon-button class = "edit_row" (click)="edit_data(element)" title="edit row"><mat-icon>edit</mat-icon></button>&nbsp;
          <button mat-icon-button class = "delete_row" (click)="delete_data(element)" title="delete row"><mat-icon>delete</mat-icon></button>
      </td>
      </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <br>
    <br>

    
</div>
<br>
<br>


  